<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <form method="get" action="/admin/home">
        <input name="oldPassword" type="password" >
        <input name="newPassword" type="password" >
        <input name="confirmationPassword" type="password">
        <button type="submit">change</button>
    </form> 
</head>
<body>
    
</body>
</html>