<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Interface</h1>
    <form method="post" action="/admin/home">
        <input name="username" class="adminData" type="text" placeholder="username">
        <input name="password" class="adminData" type ="password" placeholder="password">
        <button id="loginButton">Login</button>
    </form>

</body>
<script>
</script>
</html>