<html>
    <head>
        <title>clinic</title>
    </head>
    <body>
        <h1>Schedule Follow Up</h1>
        <input name="date" type="date" id="date" oninput="changeWeb()" value=<%=date%>>
        <p style="display:none" name="myId" id="myId"><%=id%></p>
        <%- buttons %>
    </body>
    <script>
        const date = document.getElementById('date');
        const tomorrow = new Date();
        tomorrow.setDate(new Date().getDate() + 1);
        date.min = tomorrow.toISOString().split('T')[0];
        function changeWeb() {
            window.location.href = `http://localhost:3000/doctor/schedFollowUp/${myId.innerHTML}/?date=${date.value}`;
        }
        function reserveTHIS(element){
            window.location.href = `http://localhost:3000/doctor/reserve/${myId.innerHTML}/?date=${date.value}&time=${element.innerHTML}`;
        }
      
    </script>
</html>