<head>
  
</head>
<body>
    <h1>Hello <%= name %> </h1>
    <form method="GET" action="/doctor/updateInfo">
        <button type="submit" id="infoButton">
            edit my info
        </button>
    </form>
    <form method="GET" action="/doctor/patients">
        <button id="patientsButton">
            show my patients
        </button>
    </form>
    <form method="GET" action="/doctor/upcomingAppointments">
        <button id="appointmentsButton">
            upcoming appointments
        </button>
    </form>
    <form method="GET" action="/doctor/Appointments">
        <button id="Allapp">
            All appointments
        </button>
    </form>
</body>
<script>

</script>