<html>
    <head>
        <title>Doctor Time Slots</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <style>
        th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
            
        }
        td{
            cursor:pointer;
        }
        td:hover{
            background-color: red;
            transition: all 0.5s ease-in-out;
        }
    </style>
    <body>
        <h1>Doctor Time Slots</h1>
        <h2>
            Current time slots
        </h2>
        <table>
            <%- timeSlot %>
        </table>
        <h2>
            Insert new time slot
        </h2>
        <form method="POST" action="/doctor/addTimeSlot">
        <label for="day">Day of Week:</label>
        <select name="day" id="dayOfWeek">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
        <br>
        <label for="form">Start Time:</label>
        <input type="time" name="from" id="startTime" min="0" max="24" required>
        <br>
        <label for="to">End Time:</label>
        <input type="time" name="to" id="endTime" min="0" max="24" required>
        <br>
        <input type="submit" value="Submit">
        </form>
       
            <p>
                <%= message %>
            </p>
           
    </body>
    <script>
        function handleDelete(element){
            window.location.href=(`http://localhost:3000/doctor/deleteTimeSlot/${element.id}`)
        }
       
    </script>
</html>