<!DOCTYPE html>
<html>

<head>
    <title>register</title>
</head>

<body>
    <h3>register</h3>
    <form method="post" action="/request/createRequest">
        <label for="username">username</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">password</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="name">name</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="DOB">DOB</label><br>
        <input type="date" id="DOB" name="DOB"><br>
        <label for="email">email</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="mobile">mobile</label><br>
        <!--type-->
        <input type ="number" id="mobile" name="mobile"><br>
        <label for="rate">rate</label><br>
        <!--type-->
        <input type ="number" id="rate" name="rate"><br>
        <label for="affliation">affliation</label><br>
        <input type="text" id="affiliation" name="affiliation"><br>
        <label for="education">education</label><br>
        <input type="text" id="education" name="education"><br>
        <input type="submit" value="register">
    </form>
</body>

</html>