<html>

<head>
    <title>Transaction Fail</title>
</head>

<body>
    <form method="GET" action="/patient/Home">
        <button type="submit" id="infoButton">
            Go To Home
        </button>
    </form>
</body>