<html>

<head>
    <h1>Transaction Fail</h1>
</head>

<body>
    <form method="GET" action="/patient/home">
        <button type="submit" id="infoButton">
            Go To Home
        </button>
    </form>
</body>