<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get" action="/forgetPassword"> 
        <input type="text" name="username" id="username" placeholder="Enter Username"> 
        <button type="submit" id="submitUsername">Submit</button>
    </form>

    <div style="display: none;" id="otpInput">
        <input type="text" name="otp" id="otp" placeholder="Enter OTP">
        <button type="submit" id="submitOTP">Submit</button>
        <p style="display: none;" id="errorMessage">wrong OTP</p>
    </div>
    
    <div style="display: none;" id="newPassword">
        <input type="password" name="password" id="password" placeholder="Enter New Password"> 
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"> 
        <button type="submit" id="submitPassword">Submit</button> 
    </div>
    
</body>
<script>
    const actualOTP = '<%= actualOTP %>';
    document.getElementById("submitOTP").addEventListener("click", function() {
        if(actualOTP == document.getElementById("otp").innerHTML){
            document.getElementById("otpInput").style.display = "none";
            document.getElementById("newPassword").style.display = "block"; 
        } else {
            document.getElementById("errorMessage").style.display = "block";
        }
    })
</script>
</html>