<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/login">
        <input name="username" type="text" placeholder="username">
        <input name="password" type="password" placeholder="password">
        <button>Login</button>
        <p><%= message %></p>
    </form>
    </form>
    <form method="get" action="/guest/doctor">
        <button>register doctor</button>
    </form>
    <form method="get" action="/guest/patient">
        <button>register patient</button>
    </form>
    <form method="post" action="/forgetPassword/enterUsername">
        <button>Forget Password</button>
    </form>
    
</body>
</html>