<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get" action="/admin/login">
        <button>Admin</button>
    </form>
    <form method="get" action="/doctor/home">
        <button>Doctor</button>
    </form>
    <form method="get" action="/patient/home">
        <button>Patient</button>
    </form>
    <form method="get" action="/guest/doctor">
        <button>register doctor</button>
    </form>
    <form method="get" action="/guest/patient">
        <button>register patient</button>
    </form>
    
</body>
</html>