<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <input type="text" name="otp" id="otp" placeholder="Enter OTP">
        <button type="submit" id="submitOTP">Submit</button>
        <p style="display: none;" id="errorMessage">wrong OTP</p>
</body>
<script>
    const actualOTP = '<%= OTP %>';

    document.getElementById("submitOTP").addEventListener("click", function() {
        if(actualOTP == document.getElementById("otp").value){
            window.location.href = "http://localhost:3000/forgetPassword/enterNewPassword?username=<%= username %>";
        } else {
            document.getElementById("errorMessage").style.display = "block";
        }
    })
</script>
</html>