<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/forgetPassword/done?username=<%= username %>">
        <input type="password" name="newPassword" id="newPassword" placeholder="Enter New Password"> 
        <input type="password" name="confirmationPassword" id="confirmationPassword" placeholder="Confirm Password"> 
        <button type="submit" id="submitPassword">Submit</button> 
    </form>
</body>
</html>