<html>
    <head>
        <title>clinic</title>
    </head>
    <body>
        <h1>Upload new files</h1>
        <form method="post" action="/patient/addMedicalHistory" enctype="multipart/form-data">
            <label for="docName">Document Name:</label>
            <input type="text" name="docName">
            <label for="files">File:</label>
            <input type="file" id="file" name="files" required>
            <br>
            <input type="submit" >
        </form>
        <h1>Your medical history</h1>
        <table>
        <%- medicalHistory %>
        </table>
    </body>
</html>