<head>
  
</head>
<body>
    <h1>Hello</h1>
    <form method="GET" action="/patient/Prescriptions">
        <button type="submit" id="infoButton">
            View Prescriptions
        </button>
    </form>
    <form method="GET" action="/patient/Appointments">
        <button id="patientsButton">
            View Appointments
        </button>
    </form>
</body>
<script>

</script>